<header>
    <nav id="header">
        <ul class="header-nav">
            <img class="banner-text" src="/images/banner-text.png" alt="banner-text">
            <div class="my-input-container">
                <input type="text" id="search-input">
                <img src="/images/icon-search.png" alt="icon-search">
            </div>
            <nav id="none-user-button">
                <button id="signup-button" type="button" th:href="@{/signup}" onClick="location.href='signup'" class="btn btn-outline-success">회원가입</button>
                <button id="login-button" type="button" th:href="@{/login}" onClick="location.href='login'" class="btn btn-outline-success">로그인</button>
            </nav>
            <nav id="user-button">
                <span id="user-nickname"></span>님 안녕하세요.
                <button id="chat-button" type="button" th:href="@{/chat}" onClick="location.href='chat'" class="btn btn-outline-success">채팅방</button>
                <button id="logout-button" type="button" th:href="@{/result}" onclick="click_logout()" class="btn btn-outline-success">로그아웃</button>
            </nav>
        </ul>
    </nav>
</header>

<script>
    // 로그인 상태 버튼
    if (sessionStorage.getItem("email") !== null) {
        $('#none-user-button').hide();
    }
    if (sessionStorage.getItem("email") === null) {
        $('#user-button').hide();
    }

    // 로그인한 유저 닉네임 출력
    document.getElementById("user-nickname").innerText = sessionStorage.getItem("nickname");

    // 로그아웃 버튼
    function click_logout() {
        sessionStorage.removeItem("accessToken")
        sessionStorage.removeItem("email")
        sessionStorage.removeItem("nickname")
        sessionStorage.removeItem("imageUrl")
        location.reload()
    }
</script>