body {
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 0.9em;
    width: 100vw;
    height: 100vh;
}


a {
    margin: 5px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

/*#header{*/
/*    background-color: palegreen;*/
/*    width: 100vw;*/
/*    height: 300vh;*/
/*}*/

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    margin-right: 10px;
}

ul > img {
    padding: 0 8px;
}

.header-img{
    margin-right: 200px;
}

.header-img:hover {
    box-shadow: 0 0 10px 0 gainsboro;
    border-radius: 20px;
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}


.my-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 500px;
    height: 38px;
    border: 1px solid gainsboro;
    border-radius: 20px;
    margin-right: 100px;
}

.my-input-container:hover {
    box-shadow: 0 0 10px 0 gainsboro;
}

.my-input-container > input {
    display: flex;
    justify-content: center;
    width: 430px;
    border: none;
    outline: none;
}

.my-input-container > img {
    width: 25px;
    height: 25px;
    margin-top: 6px;
}

.btm_image {
    border: transparent;
    padding: 0;
    background-color: white;
}

.btn_banner {
    border: transparent;
    padding: 0;
    background-color: white;
}

img:hover {
    cursor: pointer
}

footer {
    background-color: #F2F2F2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
}

#footer-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}

#footer-left {
    display: flex;
    justify-self: start;
    padding-left: 20px;
    align-items: center;
}

#footer-right {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
}

@media (max-width: 630px) {
    #footer-nav {
        flex-direction: column;
    }

    #footer-left {
        justify-content: center;
    }

    #footer-right {
        justify-content: center;
    }

    .my-input-container {
        width: 95vw;
    }
}

@media (max-height: 522px) {
    body {
        overflow-x: hidden;
    }

    section {
        margin-bottom: 20px;
    }

    footer {
        position: relative;
    }
}

@media (max-height: 570px) and (max-width: 630px) {
    body {
        overflow-x: hidden;
    }

    section {
        margin-bottom: 13px;
    }

    footer {
        position: relative;
    }
}

/*뉴스내용*/
#page-wrapper {
    padding-left: 250px;
    height: 80%;
}

.card-body-contents {
    /*margin-left: 250px;*/
    min-height: 100px;
    padding-bottom: 50px;
    width: 1200px;
    text-align: justify;
}

.card {
    padding: 10px 10px;
}

/*사이드바 전체*/
.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0;
}

/*카테고리검색헤드*/
.sidebar .text{
    color: black;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #ACE1AF;
    letter-spacing: 1px;
}

/*사이드바 카테고리*/
.sidebar ul{
    background: white;
    width: 100%;
    height: 75%;
    list-style: none;
    padding-left: 0;
}

/*사이드바 각 카테고리란*/
.sidebar ul li{
    line-height: 60px;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.sidebar ul li:last-child{
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

/*카테고리 글자색*/
.sidebar ul li a{
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 600;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

.sidebar ul li.active a{
    color: darkgreen;
    background: #ACE1AF;
    border-left-color: darkgreen;
    margin-left: 0;
    margin-top: 0;
}

/*작은 카테고리*/
.sidebar ul ul{
    position: static;
    display: none;
}

.sidebar ul .period-show.show1{
    display: block;
}

.sidebar ul .section-show.show2{
    display: block;
}

.sidebar ul .press-show.show3{
    display: block;
}

/*각 작은 카테고리*/
.sidebar ul ul li{
    line-height: 35px;
    border-bottom: none;
}

/*각 작은 카테고리 글자*/
.sidebar ul ul li label{
    font-size: 17px;
    color: black;
    padding-left: 60px;
    font-weight: 500;
}

.sidebar ul li.active ul li label{
    color: black;
    background: white;
    border-left-color: transparent;
}

.sidebar ul ul li label:hover{
    color: darkgreen!important;
    background: white!important;
}

/*토글 버튼*/
.sidebar ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}

/*토글 회전 효과*/
.sidebar ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
}

.scroll{
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.card-text1 {
    line-height: 150%;
    text-indent: 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 300px;
    font-size: 15px;
}