<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/head.html"></div>
</head>

<body>
<header>
    <nav id="header">
        <ul class="header-nav">
            <img class="header-img" src="/images/profile-pic.png" alt="profile-pic">
        </ul>
    </nav>
</header>

<section>
    <img class="banner-img" src="/images/banner.png" alt="banner-img">
    <div class="my-input-container">
        <input type="text">
        <img src="/images/icon-search.png" alt="icon-search">
    </div>
</section>

<footer>
    <nav id="footer-nav">
        <ul id="footer-left">
            <a href="#">당신의 신문, 당신</a>
            <a href="https://github.com/wisdom08/your-news">프로젝트 github</a>
        </ul>
        <ul id="footer-right">
            <a href="#">6주 스프링 프로젝트</a>
        </ul>
    </nav>
</footer>
</body>
</html>