<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head.html"></div>

    <script>
        $(document).ready(function() {
            getNewsList();
        })

        function getNewsList() {
                            $.ajax({
                                type: 'GET',
                                url: '/search',
                                success: function (response) {
                                    for (let i = 0; i < response.length; i++) {
                                        let message = response[i];
                                        let id = message['id'];
                                        let date = message['date'];
                                        let press = message['press'];
                                        let author = message['author'];
                                        let title = message['title'];
                                        let contents = message['contents'];
                        let url = message['url'];
                        let keyword = message['keyword'];
                        let location = message['location'];
                        let organization = message['organization'];
                        addHTML(id, title, author, contents, press, date, url, keyword, location, organization);
                    }
                }
            })
        }

        function addHTML(id, title, author, contents, press, date, url, keyword, location, organization) {
            let tempHtml = `<div class="card" id="${id}-list">
                                <div class="card-body">
                                    <h5 class="card-title">${title}</h5>
                                    <p class="card-text">${contents}</p>
                                    <p class="card-text"><small class="text-muted">${date}</small></p>
                                    <p class="card-text"><small class="text-muted">${url}</small></p>
                                    <p class="card-text"><small class="text-muted">${keyword}</small></p>
                                    <p class="card-text"><small class="text-muted">${location}</small></p>
                                    <p class="card-text"><small class="text-muted">${organization}</small></p>
                                </div>
                            </div>`
            $('#news_list').append(tempHtml);
        }
    </script>
</head>
<body>

<div th:replace="fragments/header.html"></div>

<div id="page-wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <ul class="list-group">
                <li class="list-group-item">
                    정치
                    <span class="checkbox-span">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    </span>
                </li>
                <li class="list-group-item">
                    경제
                    <span class="checkbox-span">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    </span>
                </li>
                <li class="list-group-item">
                    사회
                    <span class="checkbox-span">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    </span>
                </li>
                <li class="list-group-item">
                    문화
                    <span class="checkbox-span">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    </span>
                </li>
                <li class="list-group-item">
                    국제
                    <span class="checkbox-span">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    </span>
                </li>
                <li class="list-group-item">
                    지역
                    <span class="checkbox-span">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    </span>
                </li>
                <li class="list-group-item">
                    스포즈
                    <span class="checkbox-span">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    </span>
                </li>
                <li class="list-group-item">
                    IT_과학
                    <span class="checkbox-span">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    </span>
                </li>
            </ul>
        </ul>
    </div>
    <div class="card-body" id="news_list"></div>
</div>

<div th:replace="fragments/footer.html"></div>

</body>
</html>