<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head.html"></div>
</head>
<body>

<div th:replace="fragments/header.html"></div>

<div id="page-wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <ul class="list-group">
                <li class="list-group-item">
                    정치
                    <span class="checkbox-span">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    </span>
                </li>
                <li class="list-group-item">
                    경제
                    <span class="checkbox-span">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    </span>
                </li>
                <li class="list-group-item">
                    사회
                    <span class="checkbox-span">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    </span>
                </li>
                <li class="list-group-item">
                    문화
                    <span class="checkbox-span">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    </span>
                </li>
                <li class="list-group-item">
                    국제
                    <span class="checkbox-span">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    </span>
                </li>
                <li class="list-group-item">
                    지역
                    <span class="checkbox-span">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    </span>
                </li>
                <li class="list-group-item">
                    스포즈
                    <span class="checkbox-span">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    </span>
                </li>
                <li class="list-group-item">
                    IT_과학
                    <span class="checkbox-span">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    </span>
                </li>
            </ul>
        </ul>
    </div>
    <div class="card-body" id="news_list"></div>
</div>

<div th:replace="fragments/footer.html"></div>

</body>
</html>